<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/goods.css" />
		<link rel="stylesheet" href="css/public.css" />
		<style>
			html{overflow-x: hidden;overflow-y: auto;}
		</style>
	</head>
	<body>
<div id="header">
<div class="margin">
	<div class="top">
		<ul class="top-l">
			<li><a href="http://www.esgcc.com.cn/">国网商城</a></li>
			<li><a href="http://emall.esgcc.com.cn/portal/" >企业商城</a></li>
			<li><a href="https://www.95598pay.com/index.jsp">电e宝</a></li>
			<li><a href="https://jr.esgcc.com.cn/">电商金融</a></li>
		</ul>
		
		<ul class="top-r">
			<li><a href="#">商品服务</a><b></b><span>|</span></li>
			<li><a href="#">服务中心</a><b></b><span>|</span></li>
			<li><a href="#">网站导航</a><b></b></li>
		</ul>
		<ul class="top-c">
			<li><a href="logon.html">请登录</a><span>|</span></li>						
			<li><a href="zc.html">注册</a><span>|</span></li>						
			<li><a href="cart.html">我的订单</a><span>|</span></li>																		
		</ul>
	</div>								
</div>
</div>

<div id="layout">
<div class="margin">
	<div class="logo">
		<a href="<a href="http://e.esgcc.com.cn">
        		<img src="http://static.esgcc.com.cn/static/images/logo/logo_qg.jpg">
    		</a>
		</div>
		<div class="ipt">
			<span class="s1"><a href="#">商品</a></span>
			<input type="text" />
			<span class="s2"><img src="img/fdj.png"><a href="#">搜索</a></span>
		</div>
		<div class="cart">
			<a href="cart.html">
			<img src="img/cart.png" />
			<span>我的进货单</span>
			</a>
			<div class="zero">0</div>
		</div>
	</div>
</div>

<div id="goods">
	<div class="margin">
		<div class="cont" id="list">
			<!--<div class="box">
				<img src="img/q1.png"  />
				<span>液压打孔机(台)</span>
				<p>14410.00</p>
				<em>加入购物车</em>
			</div>
			<div class="box">
				<img src="img/q2.png"  />
				<span>液压打孔机(台)</span>
				<p>14410.00</p>
				<em>加入购物车</em>
			</div><div class="box">
				<img src="img/q3.png"  />
				<span>液压打孔机(台)</span>
				<p>14410.00</p>
				<em>加入购物车</em>
			</div>
			<div class="box">
				<img src="img/q2.png"  />
				<span>液压打孔机(台)</span>
				<p>14410.00</p>
				<em>加入购物车</em>
			</div>
			<div class="box">
				<img src="img/q3.png"  />
				<span>液压打孔机(台)</span>
				<p>14410.00</p>
				<em>加入购物车</em>
			</div>
			<div class="box">
				<img src="img/q4.png"  />
				<span>液压打孔机(台)</span>
				<p>14410.00</p>
				<em>加入购物车</em>
			</div>
			<div class="box">
				<img src="img/q5.png"  />
				<span>液压打孔机(台)</span>
				<p>14410.00</p>
				<em>加入购物车</em>
			</div>
			<div class="box">
				<img src="img/q6.png"  />
				<span>液压打孔机(台)</span>
				<p>14410.00</p>
				<em>加入购物车</em>
			</div>
			<div class="box">
				<img src="img/q7.png"  />
				<span>液压打孔机(台)</span>
				<p>14410.00</p>
				<em>加入购物车</em>
			</div>
			<div class="box">
				<img src="img/q5.png"  />
				<span>液压打孔机(台)</span>
				<p>14410.00</p>
				<em>加入购物车</em>
			</div>
			<div class="box">
				<img src="img/q6.png"  />
				<span>液压打孔机(台)</span>
				<p>14410.00</p>
				<em>加入购物车</em>
			</div>
			<div class="box">
				<img src="img/q4.png"  />
				<span>液压打孔机(台)</span>
				<p>14410.00</p>
				<em>加入购物车</em>
			</div>-->
		</div>
	</div>	
</div>

<div id="footer">
	<div class="margin">
		<div class="f-t">
			<dl class="f1 f2">
				<dt>采购指南</dt>
				<dd>平台服务分类介绍</dd>
				<dd>注册登录规则</dd>
				<dd>采购循环流程</dd>
				<dd>支付一点通</dd>
			</dl>
			<dl class="f3">
				<dt>采购指南</dt>
				<dd>平台服务分类介绍</dd>
				<dd>注册登录规则</dd>
				<dd>采购循环流程</dd>
				<dd>支付一点通</dd>
			</dl>
			<dl class="f3">
				<dt>采购指南</dt>
				<dd>平台服务分类介绍</dd>
				<dd>注册登录规则</dd>
				<dd>采购循环流程</dd>
				<dd>支付一点通</dd>
			</dl>
			<dl class="f3">
				<dt>采购指南</dt>
				<dd>平台服务分类介绍</dd>
				<dd>注册登录规则</dd>
				<dd>采购循环流程</dd>
				<dd>支付一点通</dd>
			</dl>
			<dl class="f4">
				<dt>服务热线：(010) 95598-1-8</dt>				
				<dd>周一至周日 8：00 - 22：00</dd>
				<dd>国网商城客服邮件：esgcc@sgcc.com.cn</dd>
				<dd><img src="img/kf.png" /></dd>
			</dl>
		</div>	
		<div class="f-b">
			<div class="links">
				<a href="http://static.esgcc.com.cn/help_center/helpcenter_personalMall.html?rurl=http://e.esgcc.com.cn" target="_blank">商店规则</a>
				<span>|</span>
				<a href="http://static.esgcc.com.cn/help_center/helpcenter_aboutUs.html?rurl=http://e.esgcc.com.cn" target="_blank">关于我们</a>
				<span>|</span>
				<a href="http://static.esgcc.com.cn/help_center/helpcenter_contactUs.html?rurl=http://e.esgcc.com.cn" target="_blank">联系我们</a>
				<span>|</span>
				<a href="http://static.esgcc.com.cn/help_center/helpcenter_advert.html?rurl=http://e.esgcc.com.cn" target="_blank">广告服务</a>
				<span>|</span>
				<a href="http://www.95598.cn/person/index.shtml" target="_blank">友情链接</a>
			</div>
			<div class="pp">
				<p> 
					国网商城网站备案号：京ICP备09055871号-3&nbsp;&nbsp;国网商城ICP证号：京ICP证150144号 
            	</p>
				<p>
					商城公网安备号：京公网安备110102001007-3 
				</p>				
			</div>
			<div class="gg">
				<img src="http://static.esgcc.com.cn/static/images/logo/ca_logo_qg.jpg">
			</div>
		</div>
	</div>	
</div>
</body>
<script src="libs/jquery.js"></script>
<script src="libs/jquery.cookie.js"></script>
<script src="js/cookie.js"></script>
<script src="js/data.js"></script>

<script type="text/javascript">
	$.ajax({
				url:'/api/product',
				
                data:{
                    dataName:'product'
                },
                success:function(res){
					var json = res.page_data;
					var olist = document.getElementById("list")
	var str = "";
		for(var i=0;i<json.length;i++){
            str += '<div class="box" goodsId="'+ json[i].goodsId +'">'+
                        '<img src="'+ json[i].src +'"/>'+
                        '<p>'+ json[i].name +'</p>'+
                        '<span>'+ json[i].price +'</span>'+
                        '<em class="addCar">添加购物车</em>'+
                    '</div>';
		}
		olist.innerHTML = str;
	
	olist.addEventListener("click",function(eve){
            var e = eve || window.event;
            var target = e.target || e.srcElement;
            if(target.className == "addCar"){
                // 3.点击时做什么？存cookie，存什么内容？商品货号，货号在数据中，拼接到每个商品结构上的自定义属性中
                var id = target.parentNode.getAttribute("goodsid");
                setCookie(id,id)
            }
        })
				}
                    
            })
	
	

            
    

</script>
</html>
